body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;

}



h2 {
  font-size: 1.5rem;
}

h2.tituloSeccion {
  font-size: 1.25rem;
  opacity: 0.7;
}

h6 {
  font-family: "Segoe UI", sans-serif;
  font-size: 0.3rem;
}

#cantidadProductos {
  font-size: 0.8rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.form,
.facturacion {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 2rem;
  width: 90%;
  font-size: 0.8rem;
  background-color: #fafafa;

}

.productos {

  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 2rem;
  width: 100%;
  font-size: 0.9rem;


}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

#listaProductos li {
  list-style: none;
  margin-bottom: 0;
  border: none;

}

#listaProductos li:last-child {
  border-bottom: none;
}

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  font-size: 1.6em;
  margin-bottom: 5px;
}

#detalleFacturacion li {
  font-size: 0.8rem;
}



.producto .nombreProducto {
  font-size: 2.6rem;
  font-family: Segoe UI, sans-serif;
  white-space: nowrap;
}

.producto input.cantidad {
  margin-left: 5px;
}

.nombreProducto {
  font-size: 1.2rem;
  font-family: Segoe UI, sans-serif;
  white-space: nowrap;
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}


.productos ul li {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 5px;
  height: 100%;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}

.navbar {
  margin-bottom: 1rem;
}

.tituloSeccion {
  margin-bottom: 1rem;
  opacity: 0.45;
  font-size: 1.2rem;
  font-weight: lighter;
}

.form-container {
  max-width: 20%;
}

.productos-container {
  margin-left: 1rem;
}

.facturacion {
  max-width: 100%;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #4caf50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input {
  width: 100%;
}

.buscar {
  border-radius: 7px;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 75%;
  font-size: 0.9rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.producto {
  width: 100%;
}

.list-group-item.par {
  background-color: #f3f3f3;

}

.list-group-item.impar {
  background-color: #f7f7f7;

}

#listaProductos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.producto-card {
  position: relative;
  padding: 15px;
  background-color: #efefef40;
  border-radius: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





.editarProducto {
  position: absolute;
  top: 8px;
  border: none;
  right: 8px;
  border: 0;
  outline: none;
  box-shadow: none;
}

.precio {
  font-size: 1.1em;
  margin-right: 1rem;

}

.nombrePrecio {
  font-size: 1.1em;
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}





.boton-icono i {
  display: block;
  margin-bottom: 0.1rem;

  padding: 8px 15px;
}

.boton-icono {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2rem;

  width: 90px;
  height: 70px;
}

.boton-icono svg {
  font-size: 30px;
  margin-bottom: 5px;
}

#contenedor-botones {
  display: flex;
  flex-wrap: wrap;

  margin-top: 2px;
  margin-bottom: 2px;
  justify-content: center;
}

#contenedor-botones .fila-botones {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contenedor-botones .fila-botones .boton-icono {
  margin-right: 4px;
  margin-left: 4px;
}

#contenedor-botones .fila-botones:first-of-type .boton-icono {
  margin-bottom: 12px;
}

#contenedor-botones .fila-botones:last-of-type .boton-icono {
  margin-top: 12px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  font-size: 8px;
  font-family: Segoe UI, sans-serif;
  text-align: center;
  padding: 5px 0;
}

#currentYear {
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  color: white;
  height: 128px;
}

.logo {
  margin-right: 16px;
}

.title {
  font-size: 24px;
}

.title h1 {
  margin: 0;
  font-weight: normal;
}

.button-container {
  margin-left: 8rem;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
  justify-content: center;
  margin-top: 3rem;
}

.custom-button {
  width: 45%;
  max-width: 23rem;
  text-overflow: ellipsis;
  box-sizing: border-box;
  height: 4rem;
}

.ventana-button {
  width: 22%;
  max-width: 16rem;
  text-overflow: ellipsis;
  box-sizing: border-box;
  height: 4rem;
}

.btn-primary {
  margin-right: 20px;
}

#options-btn {
  background-color: #ffc107;
  color: #333;
  border: 1px solid #ffc107;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#options-btn:hover {
  background-color: #333;
  color: #fff;
}


#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 1;
}

@media (min-width: 1080px) {
  .d-flex.mt-3 {
    gap: 1rem;
    padding: 9rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 60%;
    max-width: 60%;
    height: 27%;
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;
    max-height: 27%;
  }
}

#modal-content {
  background-color: #f5f5f5;
  padding: 1rem;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 5px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

}

#modal-content label {
  margin-right: 1rem;
}


#modal-content input[type="text"] {
  width: 100%;
  max-width: 100%;
}




#productosAFacturar {
  opacity: 0.4;
  font-size: 1.6rem;
  font-weight: lighter;
}

header {

  top: 0;
  z-index: 999;
}


.titulo {
  font-size: 2rem;
  color: black;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

h1 {
  font-weight: 400;
}

.container-fluid {
  background-color: #fff;
}

#version {
  font-size: 0.7rem;
  color: #efefef;
  font-weight: 400;
}

.text-secondary {
  font-size: 0.8rem;
  top: -1.4rem
}

.facturacion-bg {
  background-color: #efefef;
}

.sound-config-container {
  display: flex;
  align-items: center;

}

.sound-config-container label {
  margin-right: 2.5rem;
}

.sound-config-container input[type="range"] {
  margin: 1rem;
}

.no-scroll {
  overflow: hidden;
}

.modal-fullscreen {
  background-color: #f0f0f0;
  color: black;

}

#facturacionRapidaBtn {
  height: 30%;
  width: 55%;
  margin-right: 12rem;
  padding: 2.2rem;
  padding-left: 1.3rem;
  padding-right: 1.4rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  line-height: 1.2rem;
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: #007bff;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}

#facturacionRapidaBtn i {
  margin-right: 0.3rem;
}

#facturacionRapidaBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #6799e9;
}

.cta {


  text-decoration: none;
  font-size: 17px;
  color: white;
  background: #6225E6;
  transition: 2s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}

.custom-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  background: #3a2471;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.85);
  width: 11rem;
  height: 2.7rem;
  border: 0;
  font-size: 15px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-weight: 500;
  transition: 1.3s;
  overflow: hidden;
  padding: 0 10px;
  justify-content: center;
}

.custom-btn:focus {
  outline: 0;
}

.custom-btn:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 10rem;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}

.custom-btn:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
}

.custom-btn:hover {
  background: #3a2471;
  cursor: pointer;
}

.custom-btn:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.3;
  transition: .7s;
}

.custom-btn:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;

}

.alert-custom {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  animation-name: slideDown;
  animation-duration: 0.5s;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.contenidoFormulario .form-tarjeta {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  width: 75%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border: 2px solid #d0d0d0df;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.45rem;
  opacity: 0;
  margin-bottom: 10%;
  margin-top: 1%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.contenidoFormulario.mostrar .form-tarjeta {
  max-height: 17rem;
  opacity: 1;

}

.contenidoFormulario .form-tarjeta .form-group {
  display: inline-block;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 43%;
  margin-right: 5%;
}

.contenidoFormulario .form-tarjeta .form-group:last-child {
  margin-right: 50;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contenidoFormulario .form-tarjeta button {
  margin-left: 1rem;
}

#toggleAgregarProducto {
  width: 45%;
  font-size: 0.96rem;
  height: 3.4rem;
  transition: transform 0.3s ease-in-out;
}

#toggleAgregarProducto:hover {
  animation: grow 1s infinite alternate;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.98);
  }
}


.productos {
  background-color: #fafafa;
}


.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
  background: #56c080;
}

.toggle-checkbox:checked+.toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 1px;
  position: relative;
  top: 2px;
  right: 0rem;
  opacity: 0.8;
  font-size: 0.61rem;
}

.btn-group button.btn {
  font-size: 0.74rem;

  line-height: 1.2;
}

/* Asegúrate de reemplazar .producto-card con la clase que utilices para las tarjetas de productos */
.producto-card {
  cursor: grab;
}

.producto-card:active {
  cursor: grabbing;
}

.placeholder {
  border: 1px dashed #cccccc;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.categoria-label {
  font-size: 0.8rem;
  padding: 2px 4px;
  border-radius: 4px;
  color: #ffffff;
}

.categoriaNombre {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.step-container {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.step {
  flex-shrink: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.step input[type="text"],
.step input[type="number"] {
  width: 70% !important;
}

.step .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step button {
  margin-left: 10px;
}

#progressBar {
  height: 8px;
  background-color: #00bcd4;
  width: 0;
  margin-bottom: 30px;
  margin-top: 22px;
  padding-bottom: 0.12rem;
  border-radius: 50px;
}

#categoriaProductoAgregar {
  width: 60%;
}

#nombreProducto {
  width: 40%;
}

#step1 input#nombreProducto {
  width: 35% !important;
}

#step2 input#precio {
  width: 28% !important;
}



#productosAFacturar {
  margin-top: -8rem; 
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 20px;
  display: none;
}


