body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


h2 {
  font-size: 1.5rem;
}

h2.tituloSeccion {
  font-size: 1.25rem;
}

h6 {
  font-family: "Segoe UI", sans-serif;
  font-size: 0.3rem;
}

#cantidadProductos {
  font-size: 0.8rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.form, .productos, .facturacion {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 3rem;
    width: 100%;
	font-size: 0.9rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

#listaProductos li {
  list-style: none;
    margin-bottom: 0;
    border: none;
  
}
#listaProductos li:last-child {
  border-bottom: none;
}


#facturar {
	
	 padding: 0.9rem;
	  margin-top: 3rem;
  width: 100%;
}

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
}

#detalleFacturacion li {
    font-size: 0.8rem;
}




.producto .nombreProducto {
  font-size: 1.3rem;
  font-family: Segoe UI, sans-serif;
  white-space: nowrap;
}

.producto input.cantidad {
  margin-left: 5px;
}

.nombreProducto {
  font-size: 1.2rem;
  font-family: Segoe UI, sans-serif;
  white-space: nowrap;
}


.productos ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
	 height: 100%;
}

html, body {
  height: 100%;
}


button {
    cursor: pointer;
}




.navbar {
  margin-bottom: 1rem;
}

.tituloSeccion {
  margin-bottom: 1rem;
}

.form-container {
  max-width: 20%;
}

.productos-container {
  margin-left: 1rem;
}

.facturacion {
  max-width: 100%;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: auto;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #4caf50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input {
  width: 100%;
}
