body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


h2 {
  font-size: 1.5rem;
}

h2.tituloSeccion {
  font-size: 1.25rem;
}

h6 {
  font-family: "Segoe UI", sans-serif;
  font-size: 0.3rem;
}

#cantidadProductos {
  font-size: 0.8rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.form, .productos, .facturacion {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 3rem;
    width: 100%;
	font-size: 0.9rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

#listaProductos li {
  list-style: none;
    margin-bottom: 0;
    border: none;
  
}
#listaProductos li:last-child {
  border-bottom: none;
}


#facturar {
	
	 padding: 0.9rem;
	  margin-top: 3rem;
  width: 100%;
}

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 5px;
}

#detalleFacturacion li {
    font-size: 0.8rem;
}




.producto .nombreProducto {
  font-size: 1.3rem;
  font-family: Segoe UI, sans-serif;
  white-space: nowrap;
}

.producto input.cantidad {
  margin-left: 5px;
}

.nombreProducto {
  font-size: 1.2rem;
  font-family: Segoe UI, sans-serif;
  white-space: nowrap;
}


.productos ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
	 height: 100%;
}

html, body {
  height: 100%;
}


button {
    cursor: pointer;
}
